pre.diff {
  @media (prefers-color-scheme: dark) {
    color: #839496;
  }
}

.diff-add-line::before, .diff-remove-line::before, .diff-context::before {
  display: inline-block;
  color: #839496;
  -webkit-user-select: none;
}

.diff-file-header {
  font-weight: bold;
}

.diff-file-header > span > span {
  font-weight: normal;
}

.diff-add-line {
  background: #fdf6e3;
  display: block;

  @media (prefers-color-scheme: dark) {
    background: #eee8d5;
  }

  &::before {
    content: '+ ';
  }
}

.diff-remove-line {
  background: #fdf6e3;
  display: block;

  @media (prefers-color-scheme: dark) {
    background: #eee8d5;
  }

  &::before {
    content: '- ';
  }
}

.diff-context {
  &::before {
    content: '  ';
  }
}
